@import "tailwindcss";
@tailwind utilities;
@theme inline {
  --font-inter: var(--font-inter);
  --color-black: #1A1A1A;
  --color-gray: #7B7B7B;
  --color-darkGray: #383838;
  --color-lightGray: #C6C5C2;
  --color-background: #FAF9F7;
  --color-white: #FCFCFC;
  --color-green: #488426;
  --color-darkGreen: #486935;
  --color-error: #DC2626;
}

* {
  outline: none;
}

body {
  background-color: #FCFCFC;
  color: var(--color-black)
}

h1 {
  font-size: 34px;
  line-height: 100%;
}

h2 {
  font-size: 28px;
  line-height: 114%;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  letter-spacing: -1px;
}

h4 {
  font-size: 18px;
  line-height: 124%;
}

p {
  font-size: 16px;
  line-height: 124%;
}
